*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
 
}
body {
    background-color:black!important;
   
}

.name{
    padding-left:12px;
    padding-bottom: 20px;
    padding-top:5px ;
}


.navbar{
   color:rgba(255, 255, 255, 0.856);
   background:#3b3c40;
    height:10vh;
    padding: 0;
    position: fixed;
}
.profile a {
    text-decoration: none!important;
    color:rgba(255, 255, 255, 0.856) ;
    font-size: 23px;
}

.burger .line{
    height:4px;
    width:30px;
    margin:4px;
    color: black;
    background-color:rgba(255, 255, 255, 0.856);
    
}

.burger{
    position: relative;
    right:5%;
    float:right!important;
   cursor:pointer;
 
 
    
}
.burger2{
    display: none;
   
   
    
}

.lists{
    display: none;
    animation-name:bring ;
    animation-duration:0.5s;
    transition: ease-in-out;
    
    width: 100%;
    

}
.lists ul li{
padding-top: 10px;
    padding-left: 50px;
    list-style: none;
    color:rgba(255, 255, 255, 0.856);
    font-size: larger;
    background-color:#3b3c40 ;
}

.lists ul li a {
 text-decoration: none!important;   
 color:rgba(255, 255, 255, 0.856) ;
}
.lists ul li a:hover{
    color:silver;
}

.listContent:hover{
    color:silver;
}
.item3{
    padding-bottom: 10px;
}
.profile a:hover{

    color:silver ;
}

@keyframes bring{
    from {
        transform: translatex(-2000px);
    }
    to{
        transform: translatex(0px);
    }
}

.container1{
    background-color:#cfcfcf !important;
    padding-bottom: 20px;
    margin-top: 60px;
    margin-left:30px ;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 100px blue;
    transition: 0.5s;
    color:rgb(56, 55, 55);
    
}

.content{
    text-align: center;
    padding-top: 20px;
    font-weight: 300;
}



.profileSkills{
    padding-top: 10px;
    border-top: solid grey 1px;
    margin-top:20px !important;
    width: 80%;
    
    margin: auto;
}

.edit{
    font-weight: 600;
    padding-bottom: 1px;
}

.forpad{
    padding-top: 10px;
   
}
.forpad2{
    padding-bottom: 30px!important;
}

.container1:hover{
margin-left:20px;
margin-right: 20px;

}



.photo img{
    grid-template-columns: auto;
    
    border-radius: 300px;
}

.container2{
    background-color: #9e9e9e!important;
    padding-bottom: 20px;
    margin-top: 60px;
    margin-left:30px ;
    margin-right: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 100px blue;
    transition: 0.5s;
    color:rgb(0, 0, 0);
    
}

.about{
    font-weight:900;
padding-top: 20px;
margin-top:20px !important;
width: 80%;
margin: auto;
}

.container2:hover{
    margin-left:20px;
margin-right: 20px;
}

.pics2{
    display:none;
}

.pictures{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.pictures img {
    width:100%;
    padding:5px;


}

.image{
    margin-top: 30px!important;
    
}

.pictures p a {
   
    text-decoration: none;
    width:100%;
    
    color:#9e9e9e!important;
    font-size: 23px;
  
}

.pictures p{
    padding-left:10px;
    padding-top: 10px;
}

#forPictures{
    display:none;
}

.addon{
    display: none;
    padding: 10px;
    margin-top:30px;
    border-radius: 10px;
    background-color:#3b3c40;
    
}

.addon p {
  color: rgba(226, 226, 226, 0.856);
  font-weight: 500;

}
.dubclick{
    display: none;
    font-size: 23px;
    transition: 0.5s;
}

.addon2{
    display: none;
    padding: 10px;
    margin-top:30px;
    border-radius: 10px;
    background-color:#3b3c40;
    
}

.addon2 p {
  color:  rgba(226, 226, 226, 0.856);
  font-weight: 500;

}
.dubclick2{
    display: none;
    font-size: 23px;
    transition: 0.5s;
}
.fonts{
    padding-left: 10px;
    padding-right: 5px;
}
.font{
    padding-left: 5px;
}
.pics2 span {
    font-size: 23px;
}

.photo2{
    margin-top: 40px;
  margin:10px;
}
.photo2 img{
    margin-top: 10px;
    border-radius: 10px;
}
.explain{
    margin-top: 5px;
    padding-top: 0px;
  
    font-weight:600;
    color:rgb(19, 19, 19);
    
}
.knowMe {
    padding-left: 5px;
    padding-right: 10px;
}

.explain a{
    text-decoration: none;
}

.photo3{
    display: grid;
    grid-template-columns: 1fr;
    border-bottom:solid black 1px;
    width: 90%;
    margin: auto;
   
}
.photo3 img{
   margin:auto;
    margin-top: 20px;
    padding-bottom: 10px;
    grid-template-columns: 1fr;
    width: 60%;
    border-radius: 10px;
    
   
}

.true{
    background-color: rgb(33, 235, 33);
    width: 80%;
    margin: auto;
    height: 6vh;
    border-radius: 10px;
    text-align: center;
  
    
    
}
.false{
    background-color: rgb(255, 0, 0);
    width: 80%;
    margin: auto;
    margin-top: 20px;
    height: 6vh;
    border-radius: 10px;
    
}
.trueORfalse{
    margin-top: 20px;
}

.true div{
    padding-top:6px;
}

.false div{
    text-align: center;
    padding-top:6px;
   
}
.false div span {
    font-weight: 600;
}
.true div span {
    font-weight: 600;
}
.container3{
    background-color: rgb(100, 100, 100);
    color:black;
    margin:60px;
    border-radius: 10px;
    font-size: 20px;
    position: absolute;
    animation-name: move;
    animation-duration:1s ;
    animation-fill-mode: forwards;
    transition: 1s;
  
}

.container2 div span a {
text-decoration: none;
color:black;
}




@keyframes move {
    0%{
        transform: translateY(200px);
    }
    50%{
        transform: translateY(300px);
    }
    100%{
        transform: translateY(100px);
    }
}

.container2 div span a:hover{
    font-size: 20px;
    
}

footer{
    background-color: #424249;
    color:black;
    width:100%;
    height: 8vh;
    text-align: end;
    padding-top: 20px;
}
footer span{
    margin-top: 40px;
    padding-top: 50px!important;
    padding: 30px;
    font-size: 20px;
    
}

.ifdeclined{
    display: none;
    color: rgb(201, 201, 201);
    text-align: center;
    margin-top: 50%;
 
}